@page "/"
<div class="flex flex-row gap-2 p-1">
    <div class="flex-grow">
        <input id="add-item" type="text" class="w-full" placeholder="Enter URL to add" @bind-value="Url" @ref="Input" @onkeydown="@InputKeyDown" />
    </div>
    <div class="flow-auto">
        <button class="btn btn-green" @onclick="Add">Add</button>
    </div>
</div>
<div class="divide-y-1 divide-black">
    @foreach (var item in @Items)
    {
        <div class="flex flex-row gap-2 p-1">
            <div class="flex-grow">
                <a href="@item.Url" class="inline-block w-full" @onclick="@(() => Delete(item.Id))">@item.Url</a>
            </div>
            <div class="flow-auto">
                <button class="btn btn-red" @onclick="@(() => Delete(item.Id))">Remove</button>
            </div>
        </div>
        <hr />
    }
</div>