@page "/edit/{id}"
@attribute [Authorize(Roles = "admin")]

<h4 class="mt-2">Edit subscription</h4>

@if (Loading)
{
    <Spinner Text="Loading..." />
}
else if (Subscription is not null)
{
    <EditForm class="form" Model="@Subscription" OnValidSubmit="@SaveAsync">
        <div class="row">
            <div class="col-12 mb-2">
                <div class="form-floating">
                    <InputText id="title" class="form-control" @bind-Value="Subscription.Title"></InputText>
                    <label for="title">Title</label>
                </div>
            </div>
            <div class="col-12 mb-2">
                <div class="form-floating">
                    <InputText id="group" class="form-control" @bind-Value="Subscription.Group" />
                    <label for="group">Group</label>
                </div>
            </div>
            <div class="col-12 mb-2">
                <div class="form-floating">
                    <InputNumber id="update-interval" class="form-control" @bind-Value="Subscription.UpdateIntervalMinute" />
                    <label for="update-interval">Update interval in minutes</label>
                </div>
            </div>
            <div class="col-12 mb-2">
                <div class="form-floating">
                    <InputText id="url" class="form-control" @bind-Value="Subscription.Url" />
                    <label for="url">Url</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="d-flex">
                <SpinnerButton Type="submit" Class="btn btn-success" IsTaskRunning="@IsSaveTaskRunning" Text="Save" ActionText="Saving..." />
                <SpinnerButton Type="button" Class="btn btn-danger ms-2" IsTaskRunning="@IsDeleteTaskRunning" Text="Delete" ActionText="Deleting..." OnClickCallback="@DeleteAsync" />
                <button type="button" class="btn btn-secondary ms-2" @onclick="Close">Cancel</button>
            </div>
        </div>
    </EditForm>


    @if (!string.IsNullOrWhiteSpace(ErrorMessage))
    {
        <div class="alert alert-danger" role="alert">
            @ErrorMessage
        </div>
    }
}
else
{
    <h5>Subscription not found!</h5>
}
