@page "/"

<div class="col-12 w-auto">
    <EditForm class="row align-items-center" EditContext="@AddContext" OnSubmit="@Add">
        <div class="col-12 col-sm-10">
            <label class="visually-hidden" for="add">Enter URL to add</label>
            <InputText id="add" class="form-control" @bind-Value="Url" placeholder="Enter URL to add" />
        </div>
        <div class="col-12 col-sm-2 pt-2 pt-sm-0">
            <button type="submit" class="btn btn-success w-100">Add</button>
        </div>
    </EditForm>
</div>

<div class="col-12">
    @foreach (var item in @Items)
    {
            <div class="card mt-2 bg-secondary">
            <div class="card-body">
                <p class="card-text">
                            <a href="@item.Url" class="link-dark" @onclick="@(() => Delete(item.Id))">
                    @(item.Title ?? item.Url)
                    </a>
                </p> 
              <button class="btn btn-danger" @onclick="@(() => Delete(item.Id))">Remove</button>
            </div>
        </div>        
    }
</div>