<Dialog CssClass="modal-fullscreen modal-dialog-scrollable" Id="@Id" Title="@Title">
    <Body>
        @if (Show is null)
        {
            <p>No show to display data for...</p>        
        }
        else
        {
            <div class="form-check form-switch">
                <input checked="@ShowAll" class="form-check-input" type="checkbox" role="switch" id="switch-showall" @onchange="ToggleShowAll">
                <label class="form-check-label" for="switch-showall">Show all episodes</label>                
            </div>
            <CascadingValue Value="@Show">
                @foreach (var season in Show.Seasons.OrderBy(s => s.SeasonNumber))
                {
                    <CascadingValue Value="@season">
                        <SeasonView DisplayAllEpisodes="@ShowAll"></SeasonView>
                    </CascadingValue>
                }
            </CascadingValue>
        }
    </Body>
    <Footer>
        <button type="button" class="btn btn-primary" @onclick="Close" data-bs-dismiss="modal">Close</button>
    </Footer>
</Dialog>