@page "/episodes/shows"

<h2>All shows</h2>

@if (ShowList == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <Table Items="ShowList" Context="show" 
        SearchEnabled="true" OnSearch="@FilterShows"
        PaginationEnabled="true" PageSize="20">
        <TableHeader>
            <th>Title</th>
            <th>Status</th>
            <th>Seasons</th>
            <th>Episodes</th>
            <th></th>
        </TableHeader>
        <RowTemplate>
            <td>@show.Title</td>
            <td>@show.Status</td>
            <td>@show.SeasonCount</td>
            <td>@show.EpisodeCount</td>
            <td>
                <a class="link-success" href="edit/@show.Id"></a>
                <a class="link-danger ml-2" href="delete/@show.Id"></a>
            </td>
        </RowTemplate>
    </Table>
}