@page "/edit/{id}"
@attribute [Authorize(Roles = "admin")]

<h4 class="mt-2">Edit movie</h4>

@if (Loading)
{
    <Spinner Text="Loading..." />
}
else if (Movie is not null)
{
    <EditForm class="form" Model="@Movie" OnValidSubmit="@SaveAsync">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div class="row">
            <div class="col-12 mb-2">
                <div class="form-floating">
                    <InputText id="movie-title" class="form-control" type="text" @bind-Value="Movie.Title"></InputText>
                    <label for="movie-title">Title</label>
                </div>
            </div>
            <div class="col-12 mb-2">
                <div class="form-floating">
                    <input id="movie-original-title" class="form-control" type="text" value="@Movie.OriginalTitle" disabled />
                    <label for="movie-original-title">Original title</label>
                </div>
            </div>
            <div class="col-6 mb-2">
                <div class="form-floating">
                    <input id="movie-original-language" class="form-control" type="text" value="@Movie.OriginalLanguage" disabled />
                    <label for="movie-language">Original language</label>
                </div>
            </div>
            <div class="col-6 mb-2">
                <div class="form-floating">
                    <input id="movie-runtime" class="form-control" type="text" value="@Movie.RunTime" disabled />
                    <label for="movie-runtime">Run time</label>
                </div>
            </div>
            <div class="col-6 mb-2">
                <div class="form-floating">
                    <input id="movie-release-date" class="form-control" type="text" value="@Movie.ReleaseDate?.ToString("dd MMM yyyy")" disabled />
                    <label for="movie-release-date">Release date</label>
                </div>
            </div>
            <div class="col-6 mb-2">
                <div class="form-floating">
                    <InputDate id="movie-date" class="form-control" @bind-Value="Movie.WatchedDate" @bind-Value:format="dd MMM yyyy"></InputDate>
                    <label for="movie-date">Watch date</label>
                </div>
            </div>
        </div>
        <div class="row">
            <p class="mt-2">
                <a href="@Movie.TheMovieDbUrl.ToString()" target="_blank">View on TMDb</a>
                <a class="ml-2" href="@Movie.ImdbUrl.ToString()" target="_blank">View on IMDB</a>
            </p>
        </div>
        <div class="row">
            <div class="d-flex">
                <SpinnerButton Type="submit" Class="btn btn-success" IsTaskRunning="@IsSaveTaskRunning" Text="Save" ActionText="Saving..." />
                <SpinnerButton Type="button" Class="btn btn-danger ms-2" IsTaskRunning="@IsDeleteTaskRunning" Text="Delete" ActionText="Deleting..." OnClickCallback="@DeleteAsync" />
                <button type="button" class="btn btn-secondary ms-2" @onclick="Close">Cancel</button>
            </div>
        </div>
    </EditForm>
}
else
{
    <h5>No movie found!</h5>
}

@if (!string.IsNullOrWhiteSpace(ErrorMessage))
{
    <div class="alert alert-danger" role="alert">
        @ErrorMessage
    </div>
}

