@page "/movies/edit/{id:int}"
@page "/movies/edit/{id:int}/{returnUrl?}"

<h1 class="text-4xl">Edit movie</h1>

<EditForm class="container" Model="@Movie" OnSubmit="@Save">
    <div class="flex flex-col">
        <label class="control-label">Title</label>
        <InputText class="w-1/2" type="text" @bind-Value="@Movie.Title"></InputText>

        <label class="w-1/2">OriginalTitle: @Movie.OriginalTitle</label>
        <label class="w-1/2">OriginalLanguage: @Movie.OriginalLanguage</label>
        <label class="w-1/2">ReleaseDate: @Movie.ReleaseDate?.ToString("dd MMM yyyy")</label>
        <label class="w-1/2">RunTime: @Movie.RunTime</label>

        <label class="w-1/2" for="watchdate">Watch date</label>
        <InputDate CssClass="w-1/2" @bind-Value="@Movie.WatchedDate" @bind-Value:format="dd MMM yyyy"></InputDate>
    </div>

    <div class="flex mt-2">
        <button type="button" class="btn btn-blue" @onclick="Cancel">Cancel</button>
        <button type="submit" class="btn btn-green ml-2" disabled=@IsTaskRunning>Save</button>
    </div>        
</EditForm>

<div class="flex mt-2">
    <a href="@Movie.TheMovieDbUrl.ToString()" target="_blank">View on TMDb</a>
    <a class="ml-2" href="@Movie.ImdbUrl.ToString()" target="_blank">View on IMDB</a>
</div>