<Dialog Id="@Id" Title="Edit movie">
    <Body>
        @if (Movie is null)
        {
            <p>No movie to edit...</p>        
        }
        else
        {
            <EditForm class="form" Model="@Movie" OnSubmit="@Save">
                <div class="row">
                    <div class="col-12">
                        <label for="movie-title" class="form-label">Title</label>
                        <InputText id="movie-title" class="form-control" type="text" @bind-Value="@Movie.Title"></InputText>
                    </div>
                    <div class="col-12">
                        <label for="movie-original-title" class="form-label">Original title</label>
                        <input id="movie-original-title" class="form-control" type="text" value="@Movie.OriginalTitle" disabled />
                    </div>
                    <div class="col-6">
                        <label for="movie-language" class="form-label">Original language</label>
                        <input id="movie-original-language" class="form-control" type="text" value="@Movie.OriginalLanguage" disabled />
                    </div>
                    <div class="col-6">
                        <label for="movie-runtime" class="form-label">Run time</label>
                        <input id="movie-runtime" class="form-control" type="text" value="@Movie.RunTime" disabled />
                    </div>                        
                    <div class="col-12">
                        <label for="movie-release-date" class="form-label">Release date</label>
                        <input id="movie-release-date" class="form-control" type="text" value="@Movie.ReleaseDate?.ToString("dd MMM yyyy")" disabled />
                    </div>                        
                    <div class="col-12">
                        <label for="movie-date" class="form-label">Watch date</label>
                        <InputDate id="movie-date" class="form-control" @bind-Value="@Movie.WatchedDate" @bind-Value:format="dd MMM yyyy"></InputDate>
                    </div>                                               
                </div>
            </EditForm>
            <p class="mt-2">
                <a href="@Movie.TheMovieDbUrl.ToString()" target="_blank">View on TMDb</a>
                <a class="ml-2" href="@Movie.ImdbUrl.ToString()" target="_blank">View on IMDB</a>
            </p>
        }
    </Body>
    <Footer>
        <button type="button" class="btn btn-secondary" @onclick="Cancel" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-success" @onclick="Save" disabled=@IsTaskRunning>Save</button>
    </Footer>
</Dialog>