@page "/movies/all"

<h1 class="text-4xl">All movies</h1>

@if (MovieList == null)
{
    <p><em>Loading...</em></p>
}
else
{
<EditForm class="container" EditContext="@SearchContext" OnSubmit="@LoadAllMovies">
    <div class="flex">
        <InputText id="search" class="w-1/2" @bind-Value="CurrentSearch" placeholder="Filter by title" />

        <button type="submit" class="ml-2 btn btn-green">Search</button>
    </div>    
</EditForm>

<div class="container">
    <MovieTable Movies="@MovieList" ReturnUrl="movies"></MovieTable>
</div>

<div class="container">
    <button class="btn btn-blue" @onclick=@(() => NavigateToPage(NavigatePage.First)) disabled="@IsPreviousButtonDisabled">First</button>
    <button class="btn btn-blue ml-2" @onclick=@(() => NavigateToPage(NavigatePage.Previous)) disabled="@IsPreviousButtonDisabled">Previous</button>
    <button class="btn btn-blue ml-2" @onclick=@(() => NavigateToPage(NavigatePage.Next)) disabled="@IsNextButtonDisabled">Next</button>
</div>
}
