@page "/add"
@attribute [Authorize(Roles = "admin")]

<ReaderTitle Text="Add subscription" />

<EditForm Model="@AddModel" OnValidSubmit="@AddAsync" class="flex flex-col gap-2">
    <DataAnnotationsValidator />

    <div class="flex flex-col">
        <label for="url">URL to subscription</label>
        <InputText id="url" @ref="Input" class="bg-black rounded-lg" type="text" @bind-Value="@AddModel.Url" bind-Value:event="OnInput"></InputText>
        <ValidationMessage For="() => AddModel.Url" />
    </div>

    <div>
        <ReaderButton Type="ButtonType.Submit" Classes="btn-success" IsTaskRunning="@IsTaskRunning" Text="Add" ActionText="Adding..." />
    </div>
</EditForm>

@if (Urls.Count > 0)
{
    <div class="mt-2 text-lg">Found multiple posible urls in request, use one of this instead</div>
    <div class="mt-2 flex flex-col gap-2">
        @foreach (var url in Urls)
        {
            <span>@url</span>
        }
    </div>
}
