@page "/tv/{id:int}"

<EpisodesMeny></EpisodesMeny>

<h4 class="mt-2">TV Show information</h4>

@if (Show.Id > 0)
{
    <div class="row">
        <EditForm class="form" Model="@Show" OnValidSubmit="@SaveAsync">
            <div class="row">
                <div class="col-12 mb-2">
                    <div class="form-floating">
                        <InputText id="show-title" class="form-control" type="text" @bind-Value="Show.Title"></InputText>
                        <label for="show-title">Title</label>
                    </div>
                </div>
                <div class="col-12 mb-2">
                    <div class="form-check">
                        <InputCheckbox id="show-refresh" class="form-check-input" type="text" @bind-Value="Show.ForceRefresh"></InputCheckbox>
                        <label for="show-refresh" class="form-check-label">Refresh</label>
                    </div>
                </div>
                <div class="col-4 mb-2">
                    <div class="form-floating">
                        <input id="show-status" class="form-control" type="text" value="@Show.Status" disabled />
                        <label for="show-status">Status</label>
                    </div>
                </div>
                <div class="col-4 mb-2">
                    <div class="form-floating">
                        <input id="show-seasons" class="form-control" type="text" value="@Show.SeasonCount" disabled />
                        <label for="show-seasons">Seasons</label>
                    </div>
                </div>
                <div class="col-4 mb-2">
                    <div class="form-floating">
                        <input id="show-episodes" class="form-control" type="text" value="@Show.EpisodeCount" disabled />
                        <label for="show-episodes">Episodes</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <p class="mt-2">
                    <a href="@Show.TheMovieDbUrl.ToString()" target="_blank">View on TMDb</a>
                </p>
            </div>
            <div class="row">
                <div class="d-flex">
                    <button type="submit" class="btn btn-success" disabled=@IsTaskRunning>Save</button>
                    <button type="button" class="btn btn-danger ms-2" @onclick="DeleteAsync" disabled="@IsTaskRunning">Delete</button>
                    <button type="button" class="btn btn-secondary ms-2" @onclick="Close">Cancel</button>
                </div>
            </div>
        </EditForm>
        <div class="row overflow-scroll">
            <div class="form-check form-switch mt-2">
                <input checked="@ShowAll" class="form-check-input" type="checkbox" role="switch" id="switch-showall" @onchange="ToggleShowAll">
                <label class="form-check-label" for="switch-showall">Show all episodes</label>
            </div>
            @foreach (var season in Show.Seasons.OrderBy(s => s.SeasonNumber))
            {
                @if (ShowAll || !season.IsAllWatched)
                {
                    <div class="col-12">
                        <h3 class="mb-3">
                            Season @season.SeasonNumber
                            @if (season.IsAllWatched)
                            {
                                <button class="btn btn-primary float-end" @onclick="@(async () => await UnwatchSeasonAsync(season))" disabled="@IsTaskRunning">Not watched</button>
                            }
                            else
                            {
                                <button class="btn btn-primary float-end" @onclick="@(async() => await WatchSeasonAsync(season))" disabled="@IsTaskRunning">Watched</button>
                            }
                        </h3>
                        <ul class="list-group list-group-flush mb-3">
                            @if (IsTaskRunning)
                            {
                                <li class="list-group-item">Processing season...</li>
                            }
                            else
                            {
                                @foreach (var episode in season.Episodes.OrderBy(e => e.EpisodeNumber))
                                {
                                    @if (ShowAll)
                                    {
                                        <li class="list-group-item">
                                            <span>@($"{episode.EpisodeNumber} - {episode.Title} - {episode.AirDate?.ToString("MMM d, yyyy")}")</span>
                                            @if (episode.Watched)
                                            {
                                                <button class="btn btn-primary float-end" @onclick="@(async() => await UnwatchEpisodeAsync(episode))" disabled="@IsTaskRunning">Not watched</button>
                                            }
                                            else
                                            {
                                                <button class="btn btn-primary float-end" @onclick="@(async() => await WatchEpisodeAsync(episode))" disabled="@IsTaskRunning">Watched</button>
                                            }
                                        </li>
                                    }
                                    else if ((episode.Watched == false) && (episode.AirDate != null) && (episode.AirDate <= DateTime.UtcNow))
                                    {
                                        <li class="list-group-item">
                                            <span>@($"{episode.EpisodeNumber} - {episode.Title} - {episode.AirDate?.ToString("MMM d, yyyy")}")</span>
                                            @if (episode.Watched)
                                            {
                                                <button class="btn btn-primary float-end" @onclick="@(async() => await UnwatchEpisodeAsync(episode))" disabled="@IsTaskRunning">Not watched</button>
                                            }
                                            else
                                            {
                                                <button class="btn btn-primary float-end" @onclick="@(async() => await WatchEpisodeAsync(episode))" disabled="@IsTaskRunning">Watched</button>
                                            }
                                        </li>
                                    }
                                }
                            }
                        </ul>
                    </div>
                }
            }
        </div>
    </div>
}
