@page "/subscriptions"

<h2>Subscriptions</h2>

@if (DisplaySubscriptions == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <EditForm class="row align-items-center" EditContext="@SearchContext" OnSubmit="@LoadDisplaySubscriptions">
    <div class="col-auto w-75">
        <label class="visually-hidden" for="search">Filter by title</label>
        <InputText id="search" class="form-control" @bind-Value="CurrentSearch" placeholder="Filter by title" />
    </div>
    <div class="col-auto">
        <button type="submit" class="btn btn-primary ms-2">Search</button>
    </div>
</EditForm>
    <div class="row">
    <div class="col-12">
        <table class="table table-dark table-striped">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Link</th>
                    <th>Last update</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var subscription in DisplaySubscriptions)
                    {
                        <tr>
                            <td>@subscription.Title</td>
                            <td>@subscription.Url</td>
                            <td>@subscription.LastUpdate.ToLocalTime().ToString("d MMM yyyy HH:mm:ss")</td>
                            <td>
                                <a class="btn btn-primary" href="subscription/edit/@subscription.Id"><i class="bi bi-pencil"></i></a>
                                <a class="btn btn-danger ml-2" href="subscription/delete/@subscription.Id"><i class="bi bi-trash"></i></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

            <div class="pagination">
                <button class="btn btn-primary" @onclick=@(() => NavigateToPage(NavigatePage.First)) disabled="@IsPreviousButtonDisabled">First</button>
                <button class="btn btn-primary ms-2" @onclick=@(() => NavigateToPage(NavigatePage.Previous)) disabled="@IsPreviousButtonDisabled">Previous</button>
                <button class="btn btn-primary ms-2" @onclick=@(() => NavigateToPage(NavigatePage.Next)) disabled="@IsNextButtonDisabled">Next</button>
            </div>
        </div>
    </div>
}