@page "/economy/category"

<h4 class="mt-2">Manage categories</h4>
<div class="d-flex mb-2">
  <a class="btn btn-primary flex-shrink-0 me-2" href="/economy">Overview</a>
  <a class="btn btn-primary flex-shrink-0 me-2" href="/economy/import">Import transactions</a>
  <a class="btn btn-primary flex-shrink-0 me-2" href="/economy/transactions">View transactions</a>
</div>


<div class="row mt-2">
    <EditForm class="form" Model="@Category" OnValidSubmit="@SaveAsync">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div class="form-floating mb-2">
            <InputText id="name" class="form-control" type="text" @bind-Value="@Category.Name"></InputText>
            <label for="name">Name</label>
        </div>
        <div class="form-floating mb-2">
          <select class="form-select" id="parent" @bind="@Category.ParentId">
            <option value="0">No parent</option>
            @foreach (var category in Categories)
                {
                <option value="@category.Id">@category.Display</option>    
                }
          </select>

            <label for="parent">Parent</label>
        </div>
        <div class="mb-3">
            <button type="button" class="btn btn-danger" @onclick="DeleteAsync" disabled=@IsTaskRunning>Delete</button>
            <button type="submit" class="ms-2 btn btn-success" disabled=@IsTaskRunning>Save</button>
        </div>
    </EditForm>
</div>
<div class="row mt-2">
    <div class="list-group">

        @foreach (var category in Categories)
        {
            <a href="javascript:void(0)" class="list-group-item list-group-item-action" @onclick="() => Edit(category)">@category.Display</a>
        }
    </div>
</div>
